<h1>MixMasters</h1>
<h3>Know an engineer? Go and send 'em here!</h3>

<dl>
<% @engineers.each do |engineer| %>
    <dt><%= link_to engineer.name, engineer %></dt>
    <dd>- <%= engineer.location %></dd>
<% end %>
</dl>