body {
    background-color: black;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: white;
}

dt {
    color: aqua;
}

dd {
    color: white;
}

a {
    color: white; 
    text-decoration: none;
}

a:hover {
    color: green;
}

button {

}

button a {
    text-decoration: none;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(300px, 1fr));
    grid-gap: 1em;
}